* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #a5a5a5;
    font-family: Arial;
    background-color: #6552d0;
}

/* Nav */

header {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #423f54;
    position: sticky;
}

.logo h1 {
    font-weight: bold;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin: 0 15px;
}

.nav ul a {
    text-decoration: none;
    font-size: 20px;
    color: #a5a5a5;
}

.nav ul a:hover {
    text-decoration: underline #6552d0;
    color: #b9b8b8;
  }


  @media (max-width: 600px){
    header{
        flex-direction: column;
    }
    .nav{
    border-top: 1px solid #000000;

    }
    .nav ul{
        flex-direction: column;
        text-align: center;
    }
  }
/* Footer  */
.footer {
  padding: 15px 20px;
  color: #a5a5a5;
  background-color: #423f54;
  font-weight: bold;
  text-align: center;
}

.social-links{
    padding-top: 10px;
}

.social-links a{
    color: black;
}